@model Evaproject2.Models.Evaluacion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Evaluacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CriterioID" class="control-label"></label>
                <select asp-for="CriterioID" class ="form-control" asp-items="ViewBag.CriterioID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EvaluadorID" class="control-label"></label>
                <input asp-for="EvaluadorID" class="form-control" />
                <span asp-validation-for="EvaluadorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscripcionID" class="control-label"></label>
                <select asp-for="InscripcionID" class ="form-control" asp-items="ViewBag.InscripcionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="FC" class="control-label"></label>
                <input asp-for="FC" class="form-control" />
                <span asp-validation-for="FC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FM" class="control-label"></label>
                <input asp-for="FM" class="form-control" />
                <span asp-validation-for="FM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
